.app-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  /* position: relative; */
}
.main-content {
  /* flex: 1; */
  /* width: calc(100vw - 300px); */
  grid-column: 2/3;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  margin: 0 10px;
  min-height: fit-content;
}
/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .main-content {
    padding: 10px;
    grid-column: 1/3;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* styles here */
  .main-content {
    padding: 20px;
    grid-column: 1/3;
    margin: 0 50px;
  }
}
.sidebar-overlay {
  position: fixed;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 999;

  /* opacity: 0; */
  pointer-events: none;

  transition: opacity 0.3s ease;
}

.content-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.content-title {
  font-size: 24px;
  font-weight: 700;
  color: #e2e8f0;
}
